body {
   background-image: url("http://fc06.deviantart.net/fs70/f/2011/195/5/b/tamagotchi_new_generation_bg_by_tamastargirl-d3n8vab.jpg");
   /* opacity: 0.1; */

   background-color: #cccccc;
   background-repeat: no-repeat;
   -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center;
  margin: 0;
  /* margin: 0 or html, body { margin: 0 } makes it stretch the entire page. */
}
/* #background {
  opacity: 0.7;
  background-color: #cccccc;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
 -moz-background-size: cover;
 -o-background-size: cover;
 background-size: cover;
} */




/* #darkened {
	background-color: black;
	width: 280px;
	height: 280px;
	margin: 0 auto;
}
} */





/* https://css-tricks.com/snippets/css/a-guide-to-flexbox/ */

#container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}


/*div id  */
#userInput {
  text-align: center;
  width: 350px;
  height: 50px;
  opacity: 1;
  /* background-color: white; */
  /* border: solid black 1px; */
  margin-bottom: 50px;
}


input{

    height: 50px;
    width: 300px;
    border: solid black 2px;
    border-radius: 4px;
    text-align: center;
    background-color: white;;

    margin-top: -40px;
    margin-bottom: 5px; */
}





#tamaImg {
  width: 350px;
  height: 350px;
  border: solid white 8px;
  background-image: url("tama_mama.gif");
  background-position: center;
  background-color: #fdffc2;
  background-repeat: no-repeat;
  margin-top: 10px;
  margin-bottom: 50px;
  border-radius: 50%;

  https://www.cssmatic.com/box-shadow
  /* -webkit-box-shadow: -30px 30px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: -30px 30px 5px 0px rgba(0,0,0,0.75);
  box-shadow: -30px 30px 5px 0px rgba(0,0,0,0.75); */
}

#scoreboard {
  text-align: center;
  width: 100%;
  height: 250px;
  background-color: #fdffc2;
  border: solid white 8px;
  /* border-radius: %; */
}



  #nameAge {
    display: flex;
    justify-content: space-around;
  }

  #hbs {
    display: flex;
    justify-content: space-around;
  }


  #boredomLevel {
    /* background-color: blue;  */
    background-image: url("bored.png");
    background-size: cover;
    width: 70px;
    height: 70px;
    border: 0px transparent solid;
  }

  #sleepinessLevel{
    background-image: url("sleepy.png");
    background-size: cover;
    width: 70px;
    height: 70px;
    border: 0px transparent solid;
  }

  #hungerLevel{
    background-image: url("hungry.png");
    background-size: cover;
    text-align: center;
    width: 70px;
    height: 70px;
    border: 0px transparent solid;
  }




/* #stats {
  display: inline-block;
} */
