body {
   background-image: url("http://fc06.deviantart.net/fs70/f/2011/195/5/b/tamagotchi_new_generation_bg_by_tamastargirl-d3n8vab.jpg");
   /* opacity: 0.1; */

   background-color: #cccccc;
   background-repeat: no-repeat;
   -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center;
}
/* #background {
  opacity: 0.7;
  background-color: #cccccc;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
 -moz-background-size: cover;
 -o-background-size: cover;
 background-size: cover;
} */


input{
    width: 50%;
    height: 30px;
    border: 2px solid red;
    border-radius: 4px;
    text-align: center;
}


#boredomLevel {
  /* background-color: blue;  */
  background-image: url("bored.png");
  background-size: cover;
  width: 70px;
  height: 70px;
  border: 0px transparent solid;
}

#sleepinessLevel{
  background-image: url("sleepy.png");
  background-size: cover;
  width: 70px;
  height: 70px;
  border: 0px transparent solid;
}

#hungerLevel{
  background-image: url("hungry.png");
  background-size: cover;
  text-align: center;
  width: 70px;
  height: 70px;
  border: 0px transparent solid;
}


/* https://css-tricks.com/snippets/css/a-guide-to-flexbox/ */

#container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}


#userInput {
  text-align: center;
  width: 375px;
  height: 125px;
  background-color: white;
  border: solid black 1px;
  margin-bottom: 50px;
}


#tamaImg {
  width: 250px;
  height: 250px;
  border: solid black 1px;

  background-image: url("tama_mama.gif");
  background-position: center;
  background-color: white;
  background-repeat: no-repeat;
  margin-bottom: 50px;

  /* https://www.cssmatic.com/box-shadow */
  -webkit-box-shadow: 18px 18px 18px 10px rgba(213,235,124,1);
-moz-box-shadow: 18px 18px 18px 10px rgba(213,235,124,1);
box-shadow: 18px 18px 18px 10px rgba(213,235,124,1);
}

#scoreboard {
  text-align: center;
  width: 500px;
  height: 250px;
  background-color: white;
  border: solid black 1px;
  border-radius: 10%;
}

  #nameAge {
    display: flex;
    justify-content: space-around;
  }

  #hbs {
    display: flex;
    justify-content: space-around;
  }

  #tama {
    color: red;
  }

/* #stats {
  display: inline-block;
} */
